<% if(!userLogged) { %>
<div class="panel">
  <h3 class="text-center">
    Your list of games will appear here whenever you sign in through steam.
  </h3>
  <h3 class="text-center">
    We'll pick a random game for you to play, and you can mark the ones you've played already.
  </h3>
</div>
<% } else { %>
<div class="panel text-center js-games">
  <h1>Grabbing your list of games</h1>
  <div class="progress">
    <span class="meter js-meter"></span>
  </div>
</div>
<% } %>