<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>

  	<form action="/u/" method="post">
  		<label for="steamid"><h1>Insert your steam profile id</h1></label>
  		<input style="width: 300px" type="text" name="steamid" id="steamid" placeholder="e.g. “pr00fgames” and tap enter">
  	</form>

  </body>
</html>